@charset "utf-8";
/* Photo list */
.picz_lst {
	float: left;
	width: 185px;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 2px;
}
.picz_lst li {
	float: left;
	width: 35px;
	margin-right: 2px;
}
.picz_lst li a {
	display: block;
	float: left;
	position: relative;
	overflow: hidden;
	width: 35px;
	height: 12px;
	font-size: 11px;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	background-image: none;
	color: #777;
	margin-bottom: 4px;
}
.picz_lst li a.pic {
	display: block;
	overflow: hidden;
	width: 35px;
	height: 35px;
	margin-bottom: 2px;
	background: url(../images/main/thmb_nopic.gif) 0 0 no-repeat;
}
/* 사용자 통합검색, 협업과제 참여자 */
.member_warp {
	width: 100%;
	min-width: 780px;
	height: 100%;
}
.member_warp h2 {
	height: 30px;
	width: 100%;
	font-family: ng_b;
	font-size: 15px;
	text-align: center;
	color: #444;
	font-weight: bold;
	background-color: #ddd;
	padding-top: 10px;
}
.member_01 {
	float: left;
	width: 240px;
	height: 60px;
	margin: 15px 0 0 15px;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	padding: 10px 10px 10px 5px;
}
.member_01 ul {
	padding: 5px 0 5px 10px;
}
.member_01 ul li {
	height: 18px;
}
.member_01 .text {
	width: 145px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.member_pic {
	float: left;
	width: 56px;
	height: 56px;
	margin-left: 2px;
	margin-right:5px;
	background: url(../images/main/thmb_nopic2.gif) no-repeat;
}
.member_chk {
	width: 20px;
	height: 20px;
	float: left;
	line-height: 18px;
	margin-top: 21px;
	margin-left: 5px;
}
.member_pic img {
	border: none;
	width: 56px;
	height: 56px;
}
